#outlook a {
  padding: 0;
  /* Force Outlook to provide a "view in browser" button. */ }

/* Force Hotmail to display emails at full width */
.ReadMsgBody {
  width: 100%; }

.ExternalClass {
  width: 100%; }

body {
  margin: 0;
  padding: 0;
  width: 100% !important;
  -webkit-text-size-adjust: none;
  /* Prevent Webkit platforms from changing default text sizes. */ }

img {
  border: 0;
  height: auto;
  line-height: 100%;
  outline: none;
  text-decoration: none; }

a {
  color: blue; }

table td {
  border-collapse: collapse; }

#background-table {
  height: 100% !important;
  margin: 0;
  padding: 0;
  width: 100% !important; }

body, #background-table {
  background-color: #cccccc; }

#template-container {
  border: 1px solid #dddddd; }

h1, .h1 {
  font-family: Helvetica, Arial;
  color: #444444;
  line-height: 100%;
  margin-top: 0;
  margin-right: 0;
  margin-bottom: 10px;
  margin-left: 0;
  text-align: left;
  font-size: 34px;
  font-weight: bold; }

h2, .h2 {
  font-family: Helvetica, Arial;
  color: #444444;
  line-height: 100%;
  margin-top: 0;
  margin-right: 0;
  margin-bottom: 10px;
  margin-left: 0;
  text-align: left;
  font-size: 30px; }

h3, .h3 {
  font-family: Helvetica, Arial;
  color: #444444;
  line-height: 100%;
  margin-top: 0;
  margin-right: 0;
  margin-bottom: 10px;
  margin-left: 0;
  text-align: left;
  font-size: 26px;
  font-weight: bold; }

h4, .h4 {
  font-family: Helvetica, Arial;
  color: #444444;
  line-height: 100%;
  margin-top: 0;
  margin-right: 0;
  margin-bottom: 10px;
  margin-left: 0;
  text-align: left;
  font-size: 22px;
  font-weight: bold; }

#template-pre-header {
  background-color: #f2f2f2; }

.pre-header-content div {
  color: #6a6a6a;
  font-family: Helvetica, Arial;
  font-size: 10px;
  line-height: 100%;
  text-align: left; }

.pre-header-content div a:link, .pre-header-content div a:visited, .pre-header-content div a .yshortcuts {
  color: blue;
  font-weight: normal;
  text-decoration: underline; }

#template-header {
  background-color: red;
  border-bottom: 0; }

.header-content {
  color: #444444;
  font-family: Helvetica, Arial;
  font-size: 34px;
  font-weight: bold;
  line-height: 100%;
  padding: 0;
  text-align: center;
  vertical-align: middle; }

.header-content a:link, .header-content a:visited, .header-content a .yshortcuts {
  color: blue;
  font-weight: normal;
  text-decoration: underline; }

#header-image {
  height: auto;
  max-width: 600px !important; }

#template-container, .body-content {
  background-color: #FFF; }

.body-content div {
  color: #505050;
  font-family: Arial;
  font-size: 14px;
  line-height: 150%;
  text-align: left; }

.bodyContent div a:link, .body-content div a:visited, .body-content div a .yshortcuts {
  color: #336699;
  font-weight: normal;
  text-decoration: underline; }

.body-content img {
  display: inline;
  height: auto; }

#template-footer {
  background-color: #FFFFFF;
  border-top: 0; }

.footer-content div {
  color: #6a6a6a;
  font-family: Helvetica, Arial;
  font-size: 12px;
  line-height: 125%;
  text-align: left; }

.footer-content div a:link, .footer-content div a:visited, .footer-content div a .yshortcuts {
  color: blue;
  font-weight: normal;
  text-decoration: underline; }

.footerContent img {
  display: inline; }

#social {
  background-color: #cccccc;
  border: 0; }

#social div {
  text-align: center; }

#utility {
  background-color: #FFFFFF;
  border: 0; }

#utility div {
  text-align: center; }

#monkeyRewards img {
  max-width: 190px; }
